/**
 * @Date:   2018-03-02T20:05:24+08:00
 * @Last modified time: 2018-03-02T23:32:23+08:00
 */

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}